* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: darkblue;
}

.backimg {
  background: linear-gradient(to top, darkblue ,rgba(226, 225, 235, 0.4));

}

input,
textarea {
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

img {
  padding: 5px;
  width: 24px;
}

form[button] {
  display: block;
  width: 50px;
}